.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
 
}

.qualificationHeader {
  align-self: center;
  line-height: 1.4;
}

.qualificationHeaderText {
  font-size: var(--small-font-size);
  text-align: center;
}

.qualificationSwitcher {
  display: flex;
  margin-top:6rem;
  justify-content: center;
  position: relative;
}
 
.qualifications {
  height: calc(100% - 2rem);
  /* height: 100px; */
  color: black;
  width: 100%;

  position: relative;

}

.qualificationEducation,
.qualificationWork {
  transition: all 0.4s ease;
  width: 100%;
  position: absolute;
}

.educationSwitchButton,
.workSwitchButton {
  border: none;
  display: flex;
  padding: 1rem 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
}

.verticalDate {
  padding: 0;
}
.placeholder {
  visibility: hidden;
position: relative;
width: 100%;
}

/* CUSTOM LINE COLOR */
/* The line */
