.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skillsContainer{
  display: flex;
 width: 100%;
  flex-direction: column;
}
.skillTitle{
  display: flex;
  flex-direction: column;
}

.collapseButton {
  align-self: stretch;
  text-align: left;

  border: none;
  background: none;
}
.collapseButton h3 {
  padding: none;
  display: inline;
}
.collapseButton p {
  font-size: var(--small-font-size);
  display: inline-block;
}

.collapser {
  height: 5vh;
}

/* .collapseButton h3:after {
    content: "\25BC";
    color: var(--first-color-alt);
    font-weight: bold;
    margin-left: auto;
    float: right;
    font-size: var(--big-font-size);
  } */
.skillIdentifier {
  display: flex;

  align-items: center;
}
.skillIdentifier div {
  margin-left: 0.5rem;
}





/* progressBarkolagicss */
.progressbarFull {
  background-color: rgb(192, 209, 214);
  border-radius: 40px;
  z-index: 1;
}
.progressbarCompleted {
  height: 0.4rem;
  width: 80%;
  background-color: var(--first-color-alt);
  z-index: -1;
  border-radius: 40px 0 0 40px;
}

.skillPercentage {
  display: flex;
  justify-content: space-between;
}



@media screen and (min-width: 992px) {
  .skillsContainer{
    display:grid;
    grid-template-columns: auto auto;
  }
}