

.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    background-color:var(--first-color-alt);
    justify-items: center;
    border-radius:5px 5px 0 0;
    min-height:300px;
    height:20vh;
}
.contact{
 
    align-self:center;
}

.container *{
    color: var(--body-color);

}
.information{
    padding-top:50px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height:70%;
}
.links{
   

min-width: 100%;
    display:flex;
    flex-direction:column;
    
    justify-content: space-between;
}
.links a{
    padding-top:1rem;
}



.information p{
    margin-top: 2rem;
    color: var(--body-color);
}

.socialLinks{
    display:flex;
    padding-top:50px;
    width:60%;
    flex-direction: row;
    justify-content: space-between;
}


@media screen and (min-width: 999px){

    .links{
        flex-direction: row;
        padding-top:0;
        
    }
    .links a{
        padding-left: 1rem;
    }

    .socialLinks{
        width:30%;
    }



}
    



