.container {
  width: 70%;
  margin: auto auto;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.aboutMe,.description,.experienceContent{
  color: #fff;
  
}


.worksDone {
  display: flex;

  justify-content: space-around;
}
.experience {
  text-align: center;
}

.experienceDescription {
  font-size: var(--small-font-size);
  /* text-align: center; */
}
.myImage{
  grid-area:b;
  border-radius: 50%;
 }
.downloadButton{
  background-color: #FAE023;
  color: rgb(12, 54, 109);
}

@media screen and (min-width:992px){
  .container{
    grid-template-columns:repeat(4,1fr);
    display:grid;
    grid-template-areas:
    "a a a a"
    "b b c c "
    "b b e e "
    ". . f ."
  }
  .aboutHeader{
    grid-area:a;
    justify-self: center;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .description{
    grid-area:c;
  }
  .worksDone{
    grid-area:e;
  }
  .downloadButton{
    grid-area:f;
  }



}
