

.serviceHeader,
.serviceSubHeader {
  align-self: center;
  line-height: 1.1;
}
.serviceSubHeader {
  font-size: var(--small-font-size);
}

.services {
  margin-top:6rem;
  display: grid;
  row-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
}
.services div {
  background-color: lightgoldenrodyellow;
}

@media screen and (min-width: 768px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
