
.service {
  display: flex;
 ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.serviceButton {
  background: transparent;
  cursor: pointer;
  border: none;
}
.serviceDescription {
  list-style: none;
}
