.container {
  width: 90%;
  margin: auto auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mImage {
  border: 1px solid blue;
}

.worksDone {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
}
.experience {
  text-align: center;
}

.experienceDescription {
  font-size: var(--small-font-size);
  /* text-align: center; */
}
