.container {
  width: 85%;
  margin: 60px auto;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* border: 1px solid red; */
  color: var(--first-color-alt);
}
.socialLinks > a {
  margin-bottom: 1rem;
  cursor: pointer;
}

.mainContext {
  display: grid;

  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 9vw;
  align-items: center;
}
