
.container {
  display:grid;
  /* width: 85%; */
  grid-template-columns: auto auto;
  width: 80%;
  justify-content:space-between;
  margin: 60px auto;
  grid-template-areas: "a b b"
  "c c c";
}

.socialLinks {
  display: flex;
  grid-area: a;
  align-self: center;
  justify-self: center;
 
  flex-direction: column;
  /* border: 1px solid red; */
  color: var(--first-color-alt);
}
.description{
  grid-area: c;
}
.socialLinks > a {
  margin-bottom: 1rem;
  cursor: pointer;
}

.mainContext {
  display: grid;

  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 9vw;
  align-items: center;
}
.about{
  box-sizing: border-box;
  background-color: var(--first-color-alt);
}
.services{
  background-color: var(--first-color-alt);
  padding:5rem 0;

}
.waveTop{
  background-image:url("./wave-top.svg");
height:35vh;
}
.wave{
  background-image: url('./wave.svg');
  height:80vh ;
}
.servicesWaveTop{
  background-image:url("./services-wave-top.svg");
  height:20vh;
  min-height:240px;
  
}
.servicesWave{
  background-image: url('./wave-bottom.svg');
  height:36vh;
  min-height:332px;
}


@media screen and (min-width: 992px) {  
  .container{
    min-height: 100vh;
    
  grid-template-columns:repeat(3,minmax(200px,1fr));
  grid-auto-rows:0.6fr;
  grid-template-areas: 
  "a b b c"
  "a b b c";
    justify-content:center;
    /* align-items:space-between; */
   
    justify-items:center;

  }
  /* .about{
    min-height: 60vh;
  } */
  
 
  .description{
    align-self: center;
    grid-area: b;
    
  }
  div#services{
    min-height: 100vh;
  }
  .wave{
    height:50vh;
  }
  /* .socialLinks{

    align-self: start;
  } */
  }