.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
/* .slider {
  padding: 1rem;
} */

.clientDetails {
  display: flex;
  align-items: center;
}

.avatar {
  background-color: blue;
  border-radius: 50%;
  width: 20%;
  max-width: 50px;
  overflow: auto;
  margin-right: 0.5rem;
}
.avatar img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: -6px;
}
.nameOccupation {
  display: flex;
  flex-direction: column;
}
