.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
/* .slider {
  padding: 1rem;
} */

.clientDetails {
  display: flex;
  align-items: center;
}

.avatar {
  width: 15%;
  max-width: 55px;
  overflow: auto;
  margin-right: 0.5rem;
}
.avatarImage {
  border-radius: 50%;
}
/* .avatar img {
  width: 100%;
  height: auto;
  object-fit: contain;
} */
.nameOccupation {
  display: flex;
  flex-direction: column;
}
